# dependencies
node_modules/
npm-debug.log*
yarn-error.log
yarn.lock
lerna-debug.log
**/**/node_modules/
**/**/**/node_modules/

# production
/dist

# misc
.DS_Store
.cache
coverage

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Lock files
package-lock.json
yarn.lock
