# dependencies
node_modules
npm-debug.log*
yarn-error.log
yarn.lock
lerna-debug.log

# production
dist/es

# misc
.DS_Store
.cache
coverage

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
