.header {
  height: 60px;
  background: #333;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.header button {
  height: 40px;
  min-width: 100px;
  margin-right: 24px;
  cursor: pointer;
}